<div class="container">

  <!-- Success -->
  <div *ngIf="isSuccess" class="success-box">
    <img src="https://cdn-icons-png.flaticon.com/512/845/845646.png" alt="success">
    <h2>Login Successful!</h2>
    <button (click)="goToLogin()">Back</button>
  </div>

  <!-- Login -->
  <div *ngIf="isLoginView && !isSuccess" class="form-box">
    <h2>Login</h2>

    <input type="email" placeholder="Email" [(ngModel)]="email">
    <input type="password" placeholder="Password" [(ngModel)]="password">

    <button (click)="login()">Login</button>

    <p>
      Don't have an account?
      <a (click)="goToRegister()">Register here</a>
    </p>
  </div>

  <!-- Register -->
  <div *ngIf="!isLoginView" class="form-box">
    <h2>Register</h2>

    <input type="email" placeholder="Email" [(ngModel)]="regEmail">
    <input type="password" placeholder="Password" [(ngModel)]="regPassword">

    <button (click)="register()">Register</button>

    <p>
      Already have an account?
      <a (click)="goToLogin()">Login here</a>
    </p>
  </div>

</div>